In [1]:
import pandas as pd
jeopardy = pd.read_csv('jeopardy.csv')
print(jeopardy.head(5))
print(jeopardy.columns)

   Show Number    Air Date      Round                         Category  Value  \
0         4680  2004-12-31  Jeopardy!                          HISTORY   $200
1         4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES   $200
2         4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...   $200
3         4680  2004-12-31  Jeopardy!                 THE COMPANY LINE   $200
4         4680  2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES   $200

                                            Question      Answer
0  For the last 8 years of his life, Galileo was ...  Copernicus
1  No. 2: 1912 Olympian; football star at Carlisl...  Jim Thorpe
2  The city of Yuma in this state has a record av...     Arizona
3  In 1963, live on "The Art Linkletter Show", th...  McDonald's
4  Signer of the Dec. of Indep., framer of the Co...  John Adams
Index(['Show Number', ' Air Date', ' Round', ' Category', ' Value',
       ' Question', ' Answer'],
      dtype='object')

In [2]:
cols = jeopardy.columns.tolist()
for i,c in enumerate(cols):
    cols[i] = c.lstrip()
print(cols)

['Show Number', 'Air Date', 'Round', 'Category', 'Value', 'Question', 'Answer']

In [3]:
jeopardy.columns

Index(['Show Number', ' Air Date', ' Round', ' Category', ' Value',
       ' Question', ' Answer'],
      dtype='object')

In [4]:
jeopardy.columns = cols
jeopardy.columns

Index(['Show Number', 'Air Date', 'Round', 'Category', 'Value', 'Question',
       'Answer'],
      dtype='object')

In [5]:
import string
def punlows(s):
    s = s.lower()
    a = s.translate(string.punctuation)
    r = "".join(l for l in s if l not in string.punctuation)
    return r
punlows("HIHFD(*)DF*D<<.,")

'hihfddfd'

In [6]:
jeopardy['clean_question'] = jeopardy['Question'].apply(punlows)
jeopardy['clean_answer'] = jeopardy['Answer'].apply(punlows)

In [7]:
def dollarV(dollar):
    r = "".join(l for l in dollar if l not in string.punctuation)
    try:
        i = int(r)
        return r
    except:
        return 0
dollarV('$12,4,5,')
print(string.punctuation)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [8]:
jeopardy['clean_value'] = jeopardy['Value'].apply(dollarV)
print(jeopardy['clean_value'].head())

0    200
1    200
2    200
3    200
4    200
Name: clean_value, dtype: object

In [9]:
jeopardy['Air Date'] = pd.to_datetime(jeopardy['Air Date'])
jeopardy.dtypes

Show Number                int64
Air Date          datetime64[ns]
Round                     object
Category                  object
Value                     object
Question                  object
Answer                    object
clean_question            object
clean_answer              object
clean_value               object
dtype: object

In [10]:
def answerQuestion(row):
    split_answer = row['clean_answer'].split(' ')
    split_question = row['clean_question'].split(' ')
    match_count = 0
    split_answer = list(filter(lambda a:a!='the',split_answer))
    if len(split_answer)==0:
        return 0
    for answer in split_answer:
        if answer in split_question:
            match_count += 1
    return match_count/len(split_answer)
jeopardy['answer_in_question'] = jeopardy.apply(answerQuestion,axis=1)
print(jeopardy['answer_in_question'].head())

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: answer_in_question, dtype: float64

In [11]:
jeopardy['answer_in_question'].mean()

0.059737124385356791

If the answer appears in question in significance time, then any contestant would like to find answer in only question so contestant might not require much knwoledge about subject.

In [12]:
jeopardy.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer,clean_question,clean_answer,clean_value,answer_in_question
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus,for the last 8 years of his life galileo was u...,copernicus,200,0.0
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe,no 2 1912 olympian football star at carlisle i...,jim thorpe,200,0.0
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona,the city of yuma in this state has a record av...,arizona,200,0.0
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's,in 1963 live on the art linkletter show this c...,mcdonalds,200,0.0
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams,signer of the dec of indep framer of the const...,john adams,200,0.0

In [13]:
jeopardy.sort_values("Air Date",inplace=True)
jeopardy.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer,clean_question,clean_answer,clean_value,answer_in_question
19325,10,1984-09-21,Final Jeopardy!,U.S. PRESIDENTS,None,"Adventurous 26th president, he was 1st to ride...",Theodore Roosevelt,adventurous 26th president he was 1st to ride ...,theodore roosevelt,0,0.0
19301,10,1984-09-21,Double Jeopardy!,LABOR UNIONS,$200,Notorious labor leader missing since '75,Jimmy Hoffa,notorious labor leader missing since 75,jimmy hoffa,200,0.0
19302,10,1984-09-21,Double Jeopardy!,1789,$200,"Washington proclaimed Nov. 26, 1789 this first...",Thanksgiving,washington proclaimed nov 26 1789 this first n...,thanksgiving,200,0.0
19303,10,1984-09-21,Double Jeopardy!,TOURIST TRAPS,$200,Both Ferde Grofe' & the Colorado River dug thi...,the Grand Canyon,both ferde grofe the colorado river dug this ...,the grand canyon,200,0.0
19304,10,1984-09-21,Double Jeopardy!,LITERATURE,$200,"Depending on the book, he could be a ""Jones"", ...",Tom,depending on the book he could be a jones a sa...,tom,200,0.0

In [14]:
question_overlap = []
terms_used = set()
for index,row in jeopardy.iterrows():
    split_question = row['clean_question'].split(' ')
    split_question = list(filter(lambda s:len(s)>6,split_question))
    match_count = 0
    for question in split_question:
        if question in terms_used:
            match_count += 1
        terms_used.add(question)
    if len(split_question)>0:
        match_count /= len(split_question)
    question_overlap.append(match_count)
jeopardy['question_overlap'] = question_overlap
jeopardy['question_overlap'].mean()

0.62282243998653364

This result indicates that 62 percent of the time questions are repeated. But this test is not good because it just looks at words which are repeated so original mean could be lesser than this. But by looking at words only which have length greater than 6 we can think of the questions which could be asked.

In [15]:
jeopardy['clean_value'] = pd.to_numeric(jeopardy['clean_value'],errors='coerce')
def highValue(row):
    if row['clean_value']>800:
        return 1
    else:
        return 0
jeopardy['high_value'] = jeopardy.apply(highValue,axis=1)

In [16]:
jeopardy.loc[1924,'clean_value']

400

In [17]:
def obsExp(word):
    low_count = 0
    high_count = 0
    for index,row in jeopardy.iterrows():
        split_question = row['clean_question'].split(' ')
        if word in split_question:
            if row['high_value']==1:
                high_count += 1
            else:
                low_count += 1
    return high_count,low_count

In [18]:
observed_expected = []
comparison_terms = list(terms_used)[:5]

In [19]:
for terms in comparison_terms:
    obsexp = obsExp(terms)
    observed_expected.append(obsexp)
print(observed_expected)

[(0, 1), (0, 1), (0, 1), (0, 1), (0, 1)]

In [20]:
print(comparison_terms,observed_expected)

['thrived', 'bicknell', 'meanies', 'pantene', 'hrefhttpwwwjarchivecommedia20091014j07jpg'] [(0, 1), (0, 1), (0, 1), (0, 1), (0, 1)]

In [21]:
high_value_count = jeopardy[jeopardy['high_value']==1].shape[0]
low_value_count = jeopardy.shape[0] - high_value_count

In [22]:
chi_squared = []
from scipy.stats import chisquare
for i in observed_expected:
    total = sum(i)
    total_prop = total/jeopardy.shape[0]
    highexp = total_prop * high_value_count
    lowexp = total_prop * low_value_count
    a=chisquare([i[0],i[1]],[highexp,lowexp])
    chi_squared.append(a)

In [23]:
chi_squared

[Power_divergenceResult(statistic=0.40196284612688399, pvalue=0.52607729857054686),
 Power_divergenceResult(statistic=0.40196284612688399, pvalue=0.52607729857054686),
 Power_divergenceResult(statistic=0.40196284612688399, pvalue=0.52607729857054686),
 Power_divergenceResult(statistic=0.40196284612688399, pvalue=0.52607729857054686),
 Power_divergenceResult(statistic=0.40196284612688399, pvalue=0.52607729857054686)]